<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.rbac.mapper.member.AppletUserinfoMapper">
  <resultMap id="BaseResultMap" type="com.qf.rbac.entity.member.AppletUserinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="userImg" jdbcType="VARCHAR" property="userimg" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="record_date" jdbcType="TIMESTAMP" property="recordDate" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="integral" jdbcType="VARCHAR" property="integral" />
    <result column="lottery" jdbcType="VARCHAR" property="lottery" />
  </resultMap>
  <!--  查询商品全部-->
  <select id="selectAppletUserName" parameterType="java.lang.String" resultType="com.qf.rbac.entity.member.AppletUserinfo">
    select a.* from applet_userinfo a where username like concat('%',#{username},'%')
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, username, userImg, birthday, record_date, user_id, phone, money, integral, lottery
  </sql>
  <select id="selectByExample" parameterType="com.qf.rbac.entity.member.AppletUserinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from applet_userinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from applet_userinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from applet_userinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.rbac.entity.member.AppletUserinfoExample">
    delete from applet_userinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.rbac.entity.member.AppletUserinfo">
    insert into applet_userinfo (id, username, userImg, 
      birthday, record_date, user_id, 
      phone, money, integral, 
      lottery)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userimg,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{recordDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{phone,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, #{integral,jdbcType=VARCHAR}, 
      #{lottery,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qf.rbac.entity.member.AppletUserinfo">
    insert into applet_userinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="userimg != null">
        userImg,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="recordDate != null">
        record_date,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="lottery != null">
        lottery,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userimg != null">
        #{userimg,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null">
        #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=VARCHAR},
      </if>
      <if test="lottery != null">
        #{lottery,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.rbac.entity.member.AppletUserinfoExample" resultType="java.lang.Long">
    select count(*) from applet_userinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update applet_userinfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.userimg != null">
        userImg = #{record.userimg,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.recordDate != null">
        record_date = #{record.recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null">
        money = #{record.money,jdbcType=VARCHAR},
      </if>
      <if test="record.integral != null">
        integral = #{record.integral,jdbcType=VARCHAR},
      </if>
      <if test="record.lottery != null">
        lottery = #{record.lottery,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update applet_userinfo
    set id = #{record.id,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      userImg = #{record.userimg,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      record_date = #{record.recordDate,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=VARCHAR},
      money = #{record.money,jdbcType=VARCHAR},
      integral = #{record.integral,jdbcType=VARCHAR},
      lottery = #{record.lottery,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.rbac.entity.member.AppletUserinfo">
    update applet_userinfo
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userimg != null">
        userImg = #{userimg,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null">
        record_date = #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=VARCHAR},
      </if>
      <if test="lottery != null">
        lottery = #{lottery,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.rbac.entity.member.AppletUserinfo">
    update applet_userinfo
    set username = #{username,jdbcType=VARCHAR},
      userImg = #{userimg,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      record_date = #{recordDate,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      phone = #{phone,jdbcType=VARCHAR},
      money = #{money,jdbcType=VARCHAR},
      integral = #{integral,jdbcType=VARCHAR},
      lottery = #{lottery,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!---->
<!--  查询会员信息-->
  <select id="selectAppletUser" parameterType="map" resultType="com.qf.rbac.entity.member.AppletUserinfo">
    select a.* from applet_userinfo a RIGHT JOIN user u ON a.id=u.id where a.id=#{userid}
  </select>

  <!---->
</mapper>