<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.rbac.mapper.member.MchListMapper">
  <resultMap id="BaseResultMap" type="com.qf.rbac.entity.member.MchList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="head_img" jdbcType="VARCHAR" property="headImg" />
    <result column="business_hours" jdbcType="VARCHAR" property="businessHours" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="addressName" jdbcType="VARCHAR" property="addressname" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="mch_name" jdbcType="VARCHAR" property="mchName" />
    <result column="show_id" jdbcType="VARCHAR" property="showId" />
    <result column="record_date" jdbcType="TIMESTAMP" property="recordDate" />
    <result column="mch_id" jdbcType="INTEGER" property="mchId" />
  </resultMap>
<!--  查询商户信息-->
  <select id="selectMcList" parameterType="map" resultType="com.qf.rbac.entity.member.MchList">
    select a.* from mch_list a RIGHT JOIN sys_user u ON a.mch_id=u.id where a.id=#{userid}
  </select>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, phone, head_img, business_hours, introduce, addressName, longitude, latitude, 
    mch_name, show_id, record_date, mch_id
  </sql>
  <select id="selectByExample" parameterType="com.qf.rbac.entity.member.MchListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mch_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mch_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mch_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.qf.rbac.entity.member.MchListExample">
    delete from mch_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qf.rbac.entity.member.MchList">
    insert into mch_list (id, phone, head_img, 
      business_hours, introduce, addressName, 
      longitude, latitude, mch_name, 
      show_id, record_date, mch_id
      )
    values (#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, 
      #{businessHours,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{addressname,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, #{mchName,jdbcType=VARCHAR}, 
      #{showId,jdbcType=VARCHAR}, #{recordDate,jdbcType=TIMESTAMP}, #{mchId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qf.rbac.entity.member.MchList">
    insert into mch_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="headImg != null">
        head_img,
      </if>
      <if test="businessHours != null">
        business_hours,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
      <if test="addressname != null">
        addressName,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="mchName != null">
        mch_name,
      </if>
      <if test="showId != null">
        show_id,
      </if>
      <if test="recordDate != null">
        record_date,
      </if>
      <if test="mchId != null">
        mch_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="businessHours != null">
        #{businessHours,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="addressname != null">
        #{addressname,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="mchName != null">
        #{mchName,jdbcType=VARCHAR},
      </if>
      <if test="showId != null">
        #{showId,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null">
        #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qf.rbac.entity.member.MchListExample" resultType="java.lang.Long">
    select count(*) from mch_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mch_list
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.headImg != null">
        head_img = #{record.headImg,jdbcType=VARCHAR},
      </if>
      <if test="record.businessHours != null">
        business_hours = #{record.businessHours,jdbcType=VARCHAR},
      </if>
      <if test="record.introduce != null">
        introduce = #{record.introduce,jdbcType=VARCHAR},
      </if>
      <if test="record.addressname != null">
        addressName = #{record.addressname,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.mchName != null">
        mch_name = #{record.mchName,jdbcType=VARCHAR},
      </if>
      <if test="record.showId != null">
        show_id = #{record.showId,jdbcType=VARCHAR},
      </if>
      <if test="record.recordDate != null">
        record_date = #{record.recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mchId != null">
        mch_id = #{record.mchId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mch_list
    set id = #{record.id,jdbcType=INTEGER},
      phone = #{record.phone,jdbcType=VARCHAR},
      head_img = #{record.headImg,jdbcType=VARCHAR},
      business_hours = #{record.businessHours,jdbcType=VARCHAR},
      introduce = #{record.introduce,jdbcType=VARCHAR},
      addressName = #{record.addressname,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      mch_name = #{record.mchName,jdbcType=VARCHAR},
      show_id = #{record.showId,jdbcType=VARCHAR},
      record_date = #{record.recordDate,jdbcType=TIMESTAMP},
      mch_id = #{record.mchId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.rbac.entity.member.MchList">
    update mch_list
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="businessHours != null">
        business_hours = #{businessHours,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="addressname != null">
        addressName = #{addressname,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="mchName != null">
        mch_name = #{mchName,jdbcType=VARCHAR},
      </if>
      <if test="showId != null">
        show_id = #{showId,jdbcType=VARCHAR},
      </if>
      <if test="recordDate != null">
        record_date = #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mchId != null">
        mch_id = #{mchId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.rbac.entity.member.MchList">
    update mch_list
    set phone = #{phone,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      business_hours = #{businessHours,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      addressName = #{addressname,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      mch_name = #{mchName,jdbcType=VARCHAR},
      record_date = #{recordDate,jdbcType=TIMESTAMP},
      mch_id = #{mchId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>